<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/problems.css">
</head>
<body>
    <div class="problems">
<ul><li><a href="problem1.html" id="p1"><h2>Problem 1</h2></a>
    <div class="content content1"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime dolor veritatis dolores assumenda facere omnis qui autem commodi recusandae similique. Fugiat fuga doloremque molestiae, itaque temporibus pariatur recusandae perferendis maiores?</p></div>
</li>
<li><a href="problem2.html" id="p2"><h2>Problem 2</h2></a>
    <div class="content content2"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime dolor veritatis dolores assumenda facere omnis qui autem commodi recusandae similique. Fugiat fuga doloremque molestiae, itaque temporibus pariatur recusandae perferendis maiores?</p></div>
<li><a href="problem3.html" id="p3"><h2>Problem 2</h2></a>
    <div class="content content3"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime dolor veritatis dolores assumenda facere omnis qui autem commodi recusandae similique. Fugiat fuga doloremque molestiae, itaque temporibus pariatur recusandae perferendis maiores?</p></div>
</li>
</ul></div>   
</body>
</html>